<div fxLayout="column">
    <div>
        <h1>Buscador</h1>
        <mat-divider></mat-divider>
    </div>
    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Buscar</mat-label>
            <input type="text"
                   placeholder="Ingrese un heroe"
                   aria-label="Number"
                   matInput
                   [(ngModel)]="termino"
                   [matAutocomplete]="auto"
                   (input)="buscando()">
            <mat-autocomplete autoActiveFirstOption 
                              #auto="matAutocomplete"
                              (optionSelected)="opcionSeleccionada($event)">

              <mat-option *ngFor="let heroe of heroes" [value]="heroe">                
                  {{heroe.superhero}}
              </mat-option>
              
              <mat-option value="" *ngIf="heroes.length === 0 && termino.trim().length > 0">
                No hay coincidencias
              </mat-option>

            </mat-autocomplete>
          </mat-form-field>            
    </div>
    <div *ngIf="heroeSeleccionado">
      <app-heroe-tarjeta [heroe]="heroeSeleccionado"></app-heroe-tarjeta>
    </div>
</div>