<mat-grid-list cols="1" *ngIf="!heroe; else divHeroe">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>
</mat-grid-list>

<ng-template #divHeroe>
    <div fxLayout="row wrap"
     fxLayout.xs="column"
     fxLayoutAlign="center"
     >

    <div fxFlex="100"
         fxFlex.lg="35"
         fxFlex.md="50"
         fxFlex.sm="40">
         
         <mat-card>
            <mat-card-header>
                <mat-card-title>{{heroe.superhero}}</mat-card-title>
                <mat-card-subtitle>{{heroe.alter_ego}}</mat-card-subtitle>
            </mat-card-header>

            <img mat-card-image [src]="heroe | imagen">
            <mat-divider></mat-divider>
             <mat-list>
                 <mat-list-item>{{heroe.first_appearance}}</mat-list-item>
                 <mat-list-item>{{heroe.characters}}</mat-list-item>
                 <mat-list-item>{{heroe.publisher}}</mat-list-item>
                 <mat-list-item>{{heroe.alter_ego}}</mat-list-item>
             </mat-list>

             <br>
             <button mat-button 
                     color="warn"
                     (click)="return()">
                 Regresar
             </button>
         </mat-card>
        
    </div>
</div>
</ng-template>
